* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.map {
  background-image: url("./world.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cards {
  display: grid;
  grid-gap: 1vmin;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  justify-content: center;
}

.container {
  perspective: 100vw;
}

.container:hover .card {
  transform: rotateY(180deg);
}

.card {
  width: 20vmin;
  height: 20vmin;
  position: relative;
  transition: all 1s linear;
  transform-style: preserve-3d;
}

.front,
.back {
  height: 100%;
  width: 100%;
  text-align: center;
  margin: auto;
  padding: 1vmin;
  border-radius: 3vmin;
  font-family: "Roboto Light", sans-serif;
  font-size: 3vmin;
  font-weight: bolder;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.front {
  background-color: antiquewhite;
  color: coral;
  z-index: 2;
  backface-visibility: hidden;
}

.back {
  background-color: coral;
  color: antiquewhite;
  z-index: 1;
  transform: rotateY(180deg);
}

span {
  text-align: center;
  font-family: "Roboto Thin", sans-serif;
  color: chocolate;
  margin: 2vmin auto;
  text-shadow: 0 2px antiquewhite;
  border: 20px dotted antiquewhite;
  width: 50%;
  font-size: 5vmin;
  display: flex;
  justify-content: center;
  align-content: center;
}
