.header,
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text,
.browse,
.search {
  text-align: center;
  font-size: 3vmax;
}

img {
  margin: 1vmin;
  width: 25vmin;
}

.header {
  margin: 2vmax;
}
