@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #777777;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

kbd {
  font-family: "Raleway", sans-serif;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #777;
}

kbd:hover {
  cursor: pointer;
}

.white-keys {
  position: absolute;
  z-index: 0;
  display: flex;
}

.white-keys kbd {
  background-color: white;
  color: black;
  width: 70px;
  height: 330px;
  font-size: 24px;
}

.black-keys {
  position: relative;
  z-index: 1;
  display: flex;
}

.black-keys kbd {
  background-color: black;
  color: white;
  width: 44px;
  height: 220px;
  font-size: 18px;
}

.white-keys kbd:hover {
  background-color: rgb(240, 240, 240);
}
.black-keys kbd:hover {
  background-color: #333;
}

.white-keys kbd:active {
  box-shadow: inset 3px 0 rgb(220, 220, 220), inset -3px -5px rgb(220, 220, 220);
  font-size: 23px;
}

.black-keys kbd:active {
  box-shadow: inset 2px 0 #555, inset -2px -4px #555;
  font-size: 17px;
}

.black-keys kbd:nth-child(1) {
  margin-left: 49px;
}

.black-keys kbd:nth-child(2) {
  margin-right: 98px;
  margin-left: 26px;
}

.black-keys kbd:nth-child(4) {
  margin-right: 26px;
  margin-left: 26px;
}

@media only screen and (max-device-width: 768px) {
  .container {
    transform: rotate(90deg);
  }
  .white-keys kbd {
    height: 250px;
  }
  .black-keys kbd {
    height: 180px;
  }
}
